.game-board-wrapper {
  // perspective: 70em;
}

.game-board {
  border: 1vmin solid #f0ead6;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: minmax(calc(98vmin / 15), auto);
  grid-auto-columns: minmax(calc(98vmin / 15), auto);
  height: 100vmin;
  width: 100vmin;
  box-sizing: border-box;
  background-color: #f0ead6;
  // transform: rotateX(50deg) scale(0.8);
  // margin: 0 auto;
}

.cell {
  position: relative;
  background-color: darkcyan;
  border-radius: 0.6vmin;
  border: 0.2vmin solid #f0ead6;
}

.cell:hover {
  opacity: 0.5;
}

.cell::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vmin;
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
}

.cell.double-word-score {
  background-color: orange;
}

.cell.double-word-score::after {
  content: 'Double Word';
}

.cell.triple-word-score {
  background-color: orangered;
}

.cell.triple-word-score::after {
  content: 'Triple Word';
}

.cell.double-letter-score {
  background-color: cornflowerblue;
}

.cell.double-letter-score::after {
  content: 'Double Letter';
}

.cell.triple-letter-score {
  background-color: royalblue;
}

.cell.triple-letter-score::after {
  content: 'Triple Letter';
}

.cell.starting-point {
  background-color: palevioletred;
}

.cell.starting-point::after {
  content: '•';
  font-size: 4vmin;
}

.cell.with-letter {
  color: rgba(0,0,0,0.9);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vmin;
  background-color: #f0ead6;
  box-shadow: inset -0.2vmin -0.5vmin 0px #c3beaf, inset 0.2vmin 0.1vmin 0px #c3beaf, 0 0.2vmin 3px rgba(0,0,0, 0.1);
}

.cell.with-letter::after {
  display: none;
}

.cell.with-letter.unpersisted {
  border: 1px dotted rgba(0,0,0,0.5);
  background-color: #DCE0CE;
  color: rgba(0,0,0,0.7);
  cursor: pointer;
}

.cell .draggable-object-target {
  height: 100%;
  width: 100%;
}

.letter-score {
  position: absolute;
  bottom: 0.7vmin;
  right: 0.7vmin;
  font-size: 1.2vmin;
  font-weight: bold;
  font-family: sans-serif;
}

